/* Utilities */
body {
  background-color: rgba(185, 20, 80, 1);
}
.bg-grey {
  background-color: grey;
}
.dati_passegero h4 {
  color: rgba(185, 20, 80, 1);
}
h2 {
  text-transform: uppercase;
  text-align: center;
  color: white;
}
.container {
  margin: auto;
}
/* Stile form */
input,
select {
  border: 1px solid rgba(185, 20, 80, 1);
}
/* Stile bottoni */
#genera,
#annulla {
  background-color: lightgrey;
  color: rgba(185, 20, 80, 1);
  border: 1px solid rgba(185, 20, 80, 1);
  border-radius: 8px;
  font-weight: bolder;
  padding: 5px;
}
/* Il tuo biglietto */
.il_tuo_biglietto .d-flex {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.il_tuo_biglietto span {
  display: inline-block;
  margin-top: 20px;
}
#bottom-div {
  display: none;
}
